---
layout: layouts/home.njk
tags:
  - nav
navtitle: home
---

<h1>latest posts</h1>

{% set postslist = collections.posts | head(-3) %}
{% include "postslist.njk" %}

<p>more posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
